<div class="modalBackground index">
<div class="modal">
    <div class="intro">
        arrow keys to move, mouse to look, click to shoot, space to jump
    </br>
        except for racer game, where it's "w-s-a-d" to move
    </div>
    <%=button_to 'god inna earthquake', "/levels/god_earthquake", :method => "get" %>
    <%=button_to 'racer', "/levels/racer", :method => "get" %>
    <%=button_to 'fps', "/levels/fps", :method => "get" %>
</div>
</div>
